@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.valentine-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #fcfcfc;
}

.yes-button {
  padding: 8px 16px;
  margin: 10px;
  background-color: #22c55e;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.no-button {
  padding: 8px 16px;
  margin: 10px;
  background-color: #ef4444;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.text {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
